* {
    box-sizing: inherit;
    font-size: 10px;
}
body {
    background-color: #3d348d;
    color: #f5f6f7;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 1.7rem;
}

label {
    display: block;
    margin: 0.5rem 0;
    margin-bottom: 0.8rem;
    width: 100%;
    font-size: 1.7rem;
}

select {
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 8rem;
    border-radius: 0.5rem;
}

/*TODAS AS CLASS DO CÓDIGO CSS*/
.description-title {
    text-align: center;
}

.survey-form {
    margin: auto;
    max-width: 700px;
    min-width: 300px;
    width: 100%;
    padding: 3.5em;
    background-color: #272746;
}

.form-group {
    display: block;
    width: 100%;
}

.botao-radio {
    width: unset;
    height: 15px;
    margin: 0 0.5em 0 0;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.checkbox {
    width: unset;
    margin: 0 0.5em 0 0;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input, option {
    display: block;
    width: 100%;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 1.3rem 1.5rem;
    color: #495057;
    background-color: #fff;
    font-size: 1.7rem;
    margin: 10px 0 0 0;
}

.botao-submit {
    display: block;
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #37AF65;
    font-size: 1.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ced4da;
    margin-top: 1.5rem;
}

/*TODAS AS ID's DO CÓDIGO CSS*/

#title {
    font-size: 1.6rem;
}